// @import 'Breakpoints';

header {
    display: flex;

    .logo {
        width: 50%;
    }
    img {
        margin-left: 12%;
        margin-top: 10px;
        width: 40%;
        opacity: .7;
    }
}

@include for-smallScreens {
    
    header.desktopHeader {
        width: 30%;
        justify-content: center;

        .logo {
            width: 70%;

            img {
                width: 100%;
            }
        }
    }
}
