div.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253, 253, 253);

    header {
        flex-basis: 20vh;
    }

    main {
        flex-basis: 150vh;
    }

    footer {
        flex-basis: 10vh;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid black;
    }
}