div.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253, 253, 253);

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        flex-basis: 10vh;
    }

    main {
        position: relative;
        flex-basis: 400vh;
    }

    main::before {
        content: "";
        background-image: url(../img/main_bcg/img01.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    footer {
        flex-basis: 10vh;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid black;
    }
}