nav {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    ul {
        // height: 20vh;
        padding-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        list-style-type: none;

        li {
            // margin-bottom: 10px;
            margin-right: 10px;
            color: rgba(0, 0, 0, .7);
            font-size: 6px;
            letter-spacing: 2px;
            padding: 0 10px;
            text-decoration: none;
            cursor: pointer;
            
        }
    }
}