nav {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    ul{
        padding-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        list-style-type: none;
        li {
            font-size: 6px;
            letter-spacing: 2px;
            padding: 0 10px;
            text-decoration: none;
            cursor: pointer;
            color: rgb(253, 253, 253);
        }
    }
}