@import 'Breakpoints';

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul{
        padding-right: 10%;
        display: flex;
        // justify-content: flex-end;
        // align-items: center;
        list-style-type: none;

        li {

            a {
                font-size: 12px;
                letter-spacing: 2px;
                padding: 0 20px;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                color: rgb(253, 253, 253);
            }

            a:hover {
                color: rgb(165, 165, 165);
            }
        }
    }
}

@include for-phone {
    nav {
        display: none;
    }
}